<h1 style="text-align: center; color: aliceblue; margin-top: 1em;">
  Books List
</h1>

<ng-template *ngIf=" books.length == 0; then emptyBlock; else booksBlock">
</ng-template>

<ng-template #emptyBlock>
  <div class="empty">
      <h3>You don't have books to read right now!</h3>
  </div>
</ng-template>

<ng-template #booksBlock>
  <ul class="book-list">
    <li *ngFor="let book of books">
      <div class="title">{{book.title}}</div>
      <div class="author">{{book.author}}</div>
    </li>
  </ul>
</ng-template>
